
html,body {
	margin:  0;
	padding: 0;
	background-color: #EEF;
	width:  100%;
	height: 100%;
}

/*body::-webkit-scrollbar {
	display: none;
}*/

#IN {
	width: 99%;
	background-color: white;
	border: none;
	resize: none;
	height: 25vh;
	font-family: monospace;
	font-size: 2em;
}

#IN::-webkit-scrollbar {
	display: none;
}

#SHOWHIDE {
	border: none;
	background-color: white;
	font-family: monospace;
	font-size: 20px;
	border-radius: 50px;
	margin:  10px;
	padding-left:  20px;
	padding-right: 20px;
	cursor: pointer;
}

#DOWNLOAD {
	border: none;
	background-color: white;
	font-family: monospace;
	font-size: 20px;
	border-radius: 50px;
	margin:  10px;
	padding-left:  20px;
	padding-right: 20px;
	cursor: pointer;
}

#OUT {
	width: 85%;
	background-color: white;
	/*box-shadow: 0px 0px 50px #AAA;*/
	border: none;
	height: 72%;
	font-family: monospace;
	padding: 10px;
	font-size: 2em;
	margin: 0;
	border-radius: 5px;
}

.LINE {
	font-size: 20px;
	margin:  0;
	padding: 5px;
	margin: 20px;
	padding-top: 20px;
}

.CHORD {
	transition: background 0.5s, border 0.1s, padding 0.1s;
	background-color: #DDE;
	position: absolute;
	border-radius: 5px;
	padding-left:  5px;
	padding-right: 5px;
	transform: translate(0px, -30px);
	border-bottom: 3px solid #AAB;
}

.CHORD:hover {
	background-color: #EEF;
	padding-left:  10px;
	padding-right: 10px;
	margin-left: -7px;
	margin-top:  -7px;
	font-size: 35px;
	cursor: pointer;
	border-radius: 0%;
	z-index: 100;
}

.TITLE {
	background-color: #DDE;
	border-radius: 5px;
	padding-left:  20px;
	padding-right: 20px;
	border-bottom: 3px solid #AAB;
}
